/* @settings

name: My Tweaks :>
id: nullptr-tweaks
settings:
    - 
        id: text-highlight-bg-rgb
        title: Hightlight Color
        type: variable-color
        opacity: false
        format: rgb-values
        default: '#ffd000'
*/

body {
    font-feature-settings: 'ss02', 'ss03', 'ss04';
}

.admonition-exercice
{
    border: 1px solid var(--background-modifier-border-focus);
}

.admonition-exercice .admonition-title-icon {
    display: none;
}

mark,
.cm-highlight {
    background-color: unset !important;
    background-image: linear-gradient(
        0deg,
        var(--text-highlight-bg) 40%,
        transparent 40%
    ) !important
}

/* .highlightr-lowlight .admonition-content mark,
.highlightr-lowlight .admonition-content .cm-highlight,
.highlightr-lowlight .admonition-content > .markdown-preview-view mark {
    --loowlight-background: transparent;
} */

.ddc_ink_writing-embed-preview path {
    fill: var(--text-normal);
}

/* .HyperMD-codeblock > .cm-highlight {
    --lowlight-background: var(--code-background) !important;
} */

.er.attributeBoxOdd {
    fill: var(--background-primary) !important;
}

.er.attributeBoxEven {
    fill: var(--background-secondary) !important;
}
