/* @settings

name: My Tweaks :>
id: nullptr-tweaks
settings:
    - 
        id: text-highlight-bg-rgb
        title: Hightlight Color
        type: variable-color
        opacity: false
        format: rgb-values
        default: '#ffd000'
*/


body {
    font-feature-settings: 'ss02', 'ss03', 'ss04';
}

/* .admonition-theorem, */
/* .admonition-definition, */
.admonition-exercice
{
    border: 1px solid var(--background-modifier-border-focus);
}

.admonition-exercice .admonition-title-icon {
    display: none;
}

.highlightr-lowlight .admonition-content mark,
.highlightr-lowlight .admonition-content span.cm-highlight,
.highlightr-lowlight .admonition-content > .markdown-preview-view mark {
    --lowlight-background: transparent;
}

.ddc_ink_writing-embed-preview path {
    fill: var(--text-normal);
}

/* .HyperMD-codeblock > .cm-math {
    font-size: 1em;
} */

.er.attributeBoxOdd {
    fill: var(--background-primary) !important;
}

.er.attributeBoxEven {
    fill: var(--background-secondary) !important;
}
